@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.user:before {
    content: "\f007";
    /* Star */
    margin-right: 5px;
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    color: #222222;
}

.card {
    border: none;
}

.card-img-right {
    object-fit: contain;
}

.form-group>div>label.required:after {
    content: "*";
    color: #f13737;
}


/* Remove radio buttons */

.avg-star {
    filter: invert(82%) sepia(55%) saturate(1462%) hue-rotate(349deg) brightness(100%) contrast(105%);
}

.starrating>div>label.required:after {
    content: "*";
    color: #f13737;
}

.starrating>div>label.required:after {
    content: "*";
    color: #f13737;
}

.starrating>div>div>input {
    display: none;
}

.starrating>div>div {
    display: flex;
    flex-direction: row-reverse;
}

.starrating>div>div {
    color: #fff;
}

.starrating>div>div>label:before {
    content: "\f005";
    /* Star */
    margin: 2px;
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    color: #22222293;
}

.starrating>div>div>input:checked~label:before {
    color: #ffca08;
}


/* Set yellow color when star checked */

.starrating>div>div>input:hover~label:before {
    color: #ffca08;
}


/* Set yellow color when star hover */